@import "config";

@media screen and (max-width: 767px) {
  .header__container {
    margin: 0 20px;
  }
  .header__top {
    align-items: center;

    .input__group {
      &__prepend {
        display: none;
      }
      margin-right: 0;
    }
  }
  .main-nav__container {
    margin: 0 20px;
    display: flex;
    flex-direction: column-reverse;
    .humburger__wrapper {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
    }
    .mobile-header-nav {
      background-color: $main-color;
      list-style: none;
      display: flex;
      flex-direction: column;
      display: none;
      width: 100%;
      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        // padding: 5px;
        margin: 0;
        text-align: center;
        a {
          padding: 15px;
        }
      }
    }
  }

  .hamburger-menu {
    display: block;
    justify-self: end;
    width: 50px;
    height: 50px;
    padding: 10px 0 10px 10px;
  }
  .content__container {
    flex-direction: column;
    margin: 0 20px;
    .main__content {
      margin-bottom: 40px;
    }
    .side__content {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      &__container {
        h3 {
          padding: 20px;
        }
        .author .author__inner {
          .avatar {
            flex-basis: unset;
          }
          .author__info {
            margin-left: 20px;
            flex-basis: 80%;
          }
        }
      }
      .group__tag {
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 467px) {
  .item__inner .information {
    .first__info {
      flex-direction: column;
    }
    .second__info {
      p {
        font-size: 1.4rem;
      }
    }
  }
  .vertical__line {
    padding: 0 5px;
  }
}
